*{
    margin: 0;
}
div {
    background-image: 
    url(media/LVU.png),
    url(media/PVU.png),
    url(media/LNU.png),
    url(media/PNU.png),
    url(media/L.png),
    url(media/P.png),
    url(media/N.png),
    url(media/V.png);
    background-position: top left, top right, bottom left, bottom right, left center, right center, bottom center, top center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x;
    padding: 40px;
    text-align: justify;
/* width: 1000px;
height: 1000px; */
padding: 300px;
  
} 
