.thumb img  {
    border: 2px solid #55c5e9; 
    padding: 15px; 
    background: rgb(88, 88, 88); 
    margin-right: 10px; 
    margin-bottom: 10px; 
   }
   #text1 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-top: 200 ;
    margin-left: 0px; 
    width: 7.5em;
    border: 2px solid #55c5e9; 
    padding: 15px; 
    background: rgb(136, 134, 134); 

 
   }
    #text2 {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        margin-left: 11px; 
        width: 7.5em;
        border: 2px solid #55c5e9; 
        padding: 15px; 
        background: rgb(136, 134, 134); 
    }
 #text3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-left: 11px; 
    width: 7.5em;
    border: 2px solid #55c5e9; 
    padding: 15px; 
    background: rgb(136, 134, 134); 
 }